<router-outlet></router-outlet>

<div class="card p-5">
  <h3>Cadastro de Pessoa Física</h3>

  <div class="grid">
    <div class="field col-6">
      <label for="inNome" >Nome</label>
      <input id="inNome" type="text" pInputText [(ngModel)]="nome")] >
    </div>

    <div class="field col-6">
      <label for="inSobrenome">Sobrenome</label>
      <input id="inSobrenome" type="text" pInputText [(ngModel)]="sobrenome">
    </div>
  </div>

  <p-button label="Cadastrar" (onClick)="cadastrar()" ></p-button>
</div>
